.wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    border-radius: 4px;
    padding: 9px 16px;
    font-weight: 700;
    font-size: 1.6rem;
    user-select: none; // khong cho select chu
    background-color: transparent;
    cursor: pointer;

    // De border o day de sau nay khong chenh lech kich thuoc
    border: 1px solid transparent;

    + .wrapper {
        margin-left: 8px;
    }
    &.disable {
        pointer-events: none;
        opacity: 0.5;
    }
}

//button types

.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);
    background-color: rgba(255, 255, 255, 1);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgb(243, 243, 243);
    }
}
.primary {
    color: white;
    background-color: var(--primary);
    &:hover {
        background-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    background-color: rgba(255, 255, 255, 1);
    color: var(--primary);
    border-color: currentColor; //an theo mau ben tren
    &:hover {
        border-color: currentColor; //an theo mau ben tren
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.simple {
    border-radius: 2px;
    border-color: rgba(22, 24, 35, 0.12);
    color: rgba(22, 24, 35, 1);
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.text {
    background-color: transparent;
    &:hover {
        text-decoration: underline;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

//button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 148px;
    padding: 14px 16px;
}

.icon {
    display: inline-block; //phai co cai nay moi set width cho icon duoc
    width: 24px;
    text-align: center;
}
