.wrapper {
    border-top: 1px solid rgb(226, 226, 226);
    padding: 16px 0;
}
.title {
    padding: 0 8px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.75);
}

//Account Item
.account-item {
    display: flex;
    height: 48px;
    padding: 8px;
    transition: background-color ease-in-out 200ms;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 12px;
}
.info {
    line-height: 1.5rem;
}
.username {
    font-family: SofiaPro;
    font-size: 1.6rem;
    margin: -2px 0 0;
    color: var(--text-color);
    .check {
        width: 14px;
        height: 14px;
        padding-left: 4px;
        padding-bottom: 6px;
        color: rgb(32, 213, 236);
    }
}
.name {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(22, 24, 35, 0.75);
}
.discover-btn {
    color: rgb(254, 44, 85);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    padding: 0px 8px;
    margin-top: 8px;
    cursor: pointer;
}

//Popper
.popper-wrapper {
    background-color: aqua;
    height: 171px;
    width: 320px;
    padding: 20px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    border-radius: 8px;
}
.popper-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    .avatar {
        width: 44px;
        height: 44px;
    }
    .follow-btn {
        width: 106px;
        height: 34px;
    }
}
.popper-info {
    .username {
        margin: 0;
        font-size: 1.8rem;

        .check {
            padding: 0 0 0 4px;
        }
    }
    .name {
        font-size: 1.4rem;
    }
}
.popper-analytics {
    margin: 8px 0 0;
    font-size: 17px;
    display: flex;
    color: var(--text-color);
    .followers-value,
    .like-value {
        font-weight: 700;
    }
    .like-value {
        margin-left: 12px;
    }
    .label {
        color: rgb(98, 98, 98);
        margin-left: 6px;
    }
}
