.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-space: 9px;
    --search-border-color: rgb(201, 201, 201);
    --search-background-color: rgba(22, 24, 35, 0.06);
    --search-button-right: 52px;

    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: white;
}
.inner {
    display: flex;
    align-items: center;
    height: 100%;
    width: var(--default-layout-width);
    padding: var(--default-layout-width-space);
    justify-content: space-between;
}
.logo-link {
    display: flex;
}

//Action
.action {
    display: flex;
    height: 100%;
    align-items: center;
}
.action-btn {
    color: rgb(0, 0, 0);
    padding: 8px 8px;
    font-size: 2.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
}

.more-btn {
    font-size: 2rem;
    margin-left: 32px;
    padding: 4px 8px;
    cursor: pointer;
    background-color: transparent;
}

.user-avatar {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 10px;
}
